.header {
    background-color:#18181C; 
    display: flex;
    align-items: center;
    justify-content: baseline;
    justify-content: space-between;
    height: 100px;

    .logo{
        position: absolute;
        top: 16px;
        left: 16px;
        width: 100px;
        height: 100px;
        border-radius: 16px;
    }
}

.layout{
    background-color: #18181C;
    color: white;
}